/* CUSTOM CSS */
body {
  font-family: "Source Sans Pro", sans-serif !important;
  color: #ababab !important;
  background-color: #f4f6f9 !important;
}

.hov-effect:hover {
  border-bottom: 2px solid #ff2260;
}

.vertical-bar {
  border-left: 1px solid #e8e8e8;
  margin-left: 16px;
}

.content-wrapper {
  margin-left: 0px !important;
}
.container-fluid {
  max-width: 64rem !important;
}

.nav-bg {
  background-color: #ffffff !important;
}

.layout-margin {
  padding-left: 56px !important;
  padding-right: 56px !important;
}
.side-layout-margin {
  padding-left: 56px !important;
  padding-right: 56px !important;
}

.nav-bottom {
  border-bottom: 1px solid #e4e4e4;
}

.profile-image {
  padding-top: 8px;
  margin-right: 0;
  padding-right: 0;
}

.profile-info {
  padding: 5px 0px 5px 0px !important;
}

.text-live {
  color: #ff3462;
}

.red-border {
  border: 1px solid #ff799d;
}

.thumbnail {
  position: relative;
  display: inline-block;
}

/***********************  CSS FOR SIDE MENU BAR START ********************/
a:hover {
  text-decoration: none;
}
.sidebar {
  width: 196px;
  overflow-y: hidden !important;
  padding: 0 !important;
  min-height: 1081px !important; /*equal as sidemenubar img height*/
}

.sidebar-bg {
  background: url("../img/navigation_bar.png") no-repeat; /*.sidebar -> width should be same as image width*/
  background-size: auto;
}
.bg-defoult {
  background: url("../img/navbar.png") no-repeat;
  background-size: auto;
}
.sidebar ul {
  min-height: 1081px; /*equal as sidemenubar img height*/
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.sidebar li a,
.sidebar li a.collapsed.active {
  display: block;
  padding: 8px 24px;
  color: #fff;
  border-left: 0px solid #f4f6f9;
  text-decoration: none;
}
.sidebar li a.active {
  background-color: #000;
  border-left: 5px solid #f4f6f9;
}
.sidebar li a:hover {
  background: url("../img/navbar-hover.png") no-repeat;
  background-size: auto;
  color: #ff3462;
}
.sidebar li a i {
  padding-right: 5px;
}
.sidebar ul li .sub-menu li a {
  position: relative;
}
.sidebar ul li .sub-menu li a:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 0px;
  padding-right: 10px;
  vertical-align: middle;
}
.sidebar ul li .sub-menu li a:hover:after {
  content: "";
  position: absolute;
  left: -5px;
  top: 0;
  width: 5px;
  background-color: #111;
  height: 100%;
}
.sidebar ul li .sub-menu li a:hover {
  background-color: #222;
  padding-left: 20px;
  /* transition: all 0.5s linear; */
}
.sidebar li a .nav-label,
.sidebar li a .nav-label + span,
i {
  /* transition: all 0.3s linear; */
}

.sidebar.fliph li a .nav-label,
.sidebar.fliph li a .nav-label + span {
  display: none;
  /* transition: all 0.5s linear; */
}
.sidebar.fliph {
  width: 71px; /*adjust*/
  padding: 0;
  margin: 0;
}

.sidebar.fliph li {
  position: relative;
  /* transition: all 0.7s linear; */
}
.sidebar.fliph .sub-menu {
  position: absolute;
  left: 39px;
  top: 0;
  background-color: #222;
  width: 150px;
  z-index: 100;
}

/***********************  CSS FOR SIDE MENU BAR END ********************/

.text-over-img {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
}
/* ***************************PROGRESS PART CSS START****************************/
/* Total Classes */
.progress1 {
  background-image: linear-gradient(90deg, #553eff, #00f0ff) !important;
}
/* Average Attendance */
.progress2 {
  background-image: linear-gradient(90deg, #423eff, #fe3eff) !important;
}
/* Average Participation */
.progress3 {
  background-image: linear-gradient(90deg, #ff2260, #ff736b) !important;
}
.progress-height {
  height: 4px !important;
}
.prog-text {
  font-size: 14px;
  margin-right: 20px;
  font-family: "Source Sans Pro", sans-serif !important;
  color: #ababab;
}
.tot-percent {
  font-family: "Source Sans Pro", sans-serif !important;
  color: #ababab;
}
.tot-value {
  font-family: "Source Sans Pro", sans-serif !important;
}
/* ***************************PROGRESS PART CSS END***************************/

/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
  .info1 {
    font-size: 32px;
    color: white;
    font-family: "Source Sans Pro", sans-serif !important;
    line-height: 1.3;
  }
  .info2 {
    font-size: 24px;
    font-weight: bold;
    color: white;
    font-family: "Source Sans Pro", sans-serif !important;
    line-height: 1.3;
  }
  .info3 {
    font-size: 16px;
    color: white;
    font-family: "Source Sans Pro", sans-serif !important;
    line-height: 1.3;
  }
  /* calendar */
  .calender-thumbnail {
    position: relative;
    display: inline-block;
  }
  .calender-img {
    position: absolute;
    top: 9px;
    left: 48px !important;
    transform: translate(-50%, -50%);
  }
  .calender-text {
    padding-left: 82px;
    margin-top: 11px;
    color: #808285;
    text-transform: uppercase;
  }
  /* attendance */
  .attendance-thumbnail {
    position: relative;
    display: inline-block;
  }
  .attendance-img {
    position: absolute;
    top: 8px;
    left: 48px !important;
    transform: translate(-50%, -50%);
  }
  .attendance-text {
    padding-left: 82px;
    margin-top: 16px;
    color: #808285;
    text-transform: uppercase;
  }

  /*  */
  .thumbnail img {
    width: 574px !important;
  }
  .navbar-badge {
    left: 16px !important;
    right: initial !important;
  }
  .info {
    padding: 10px 5px 5px 16px !important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  .info1 {
    font-size: 24px;
    color: white;
    font-family: "Source Sans Pro", sans-serif !important;
    line-height: 1.3;
  }
  .info2 {
    font-size: 26px;
    font-weight: bold;
    color: white;
    font-family: "Source Sans Pro", sans-serif !important;
    line-height: 1.3;
  }
  .info3 {
    font-size: 18px;
    color: white;
    font-family: "Source Sans Pro", sans-serif !important;
    line-height: 1.3;
  }
  /* calendar */
  .calender-thumbnail {
    position: relative;
    display: inline-block;
  }
  .calender-img {
    position: absolute;
    top: 9px;
    left: 48px !important;
    transform: translate(-50%, -50%);
  }
  .calender-text {
    padding-left: 82px;
    margin-top: 11px;
    color: #808285;
    text-transform: uppercase;
  }
  /* attendance */
  .attendance-thumbnail {
    position: relative;
    display: inline-block;
  }
  .attendance-img {
    position: absolute;
    top: 8px;
    left: 48px !important;
    transform: translate(-50%, -50%);
  }
  .attendance-text {
    padding-left: 82px;
    margin-top: 16px;
    color: #808285;
    text-transform: uppercase;
  }

  /*  */
  .thumbnail img {
    width: 766px !important;
  }

  .navbar-badge {
    left: 16px !important;
    right: initial !important;
  }
  .info {
    padding: 10px 5px 5px 16px !important;
  }
  .profile-info {
    padding: 5px 0px 5px 16px !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .info1 {
    font-size: 14px;
    color: white;
    font-family: "Source Sans Pro", sans-serif !important;
    line-height: 1.3;
  }
  .info2 {
    font-size: 15px;
    font-weight: bold;
    color: white;
    font-family: "Source Sans Pro", sans-serif !important;
    line-height: 1.3;
  }
  .info3 {
    font-size: 11px;
    color: white;
    font-family: "Source Sans Pro", sans-serif !important;
    line-height: 1.3;
  }
  /* calendar */
  .calender-thumbnail {
    position: relative;
    display: inline-block;
  }
  .calender-img {
    position: absolute;
    top: 9px;
    left: 48px !important;
    transform: translate(-50%, -50%);
  }
  .calender-text {
    padding-left: 82px;
    font-size: 15px;
    margin-top: 11px;
    color: #808285;
    text-transform: uppercase;
  }
  /* attendance */
  .attendance-thumbnail {
    position: relative;
    display: inline-block;
  }
  .attendance-img {
    position: absolute;
    top: 8px;
    left: 48px !important;
    transform: translate(-50%, -50%);
  }
  .attendance-text {
    padding-left: 82px;
    margin-top: 16px;
    font-size: 15px;
    color: #808285;
    text-transform: uppercase;
  }
  .navbar-badge {
    left: 16px !important;
    right: initial !important;
  }
  .info {
    padding: 10px 5px 5px 16px !important;
  }
  .profile-info {
    padding: 5px 0px 5px 16px !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .info1 {
    font-size: 15px;
    color: white;
    font-family: "Source Sans Pro", sans-serif !important;
    line-height: 1.3;
  }
  .info2 {
    font-size: 15px;
    font-weight: bold;
    color: white;
    font-family: "Source Sans Pro", sans-serif !important;
    line-height: 1.3;
  }
  .info3 {
    font-size: 11px;
    color: white;
    font-family: "Source Sans Pro", sans-serif !important;
    line-height: 1.3;
  }
  /* calendar */
  .calender-thumbnail {
    position: relative;
    display: inline-block;
  }
  .calender-img {
    position: absolute;
    top: 9px;
    left: 40px !important;
    transform: translate(-50%, -50%);
  }
  .calender-text {
    padding-left: 72px;
    margin-top: 11px;
    font-size: 13px;
    color: #808285;
    text-transform: uppercase;
  }
  /* attendance */
  .attendance-thumbnail {
    position: relative;
    display: inline-block;
  }
  .attendance-img {
    position: absolute;
    top: 8px;
    left: 48px !important;
    transform: translate(-50%, -50%);
  }
  .attendance-text {
    padding-left: 82px;
    margin-top: 16px;
    font-size: 13px;
    color: #808285;
    text-transform: uppercase;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .info1 {
    font-size: 22px;
    color: white;
    font-family: "Source Sans Pro", sans-serif !important;
    line-height: 1.3;
  }
  .info2 {
    font-size: 24px;
    font-weight: bold;
    color: white;
    font-family: "Source Sans Pro", sans-serif !important;
    line-height: 1.3;
  }
  .info3 {
    font-size: 18px;
    color: white;
    font-family: "Source Sans Pro", sans-serif !important;
    line-height: 1.3;
  }

  /* calendar */
  .calender-thumbnail {
    position: relative;
    display: inline-block;
  }
  .calender-img {
    position: absolute;
    top: 9px;
    left: 48px !important;
    transform: translate(-50%, -50%);
  }
  .calender-text {
    padding-left: 76px;
    margin-top: 11px;
    font-size: 16px;
    color: #808285;
    text-transform: uppercase;
  }
  /* attendance */
  .attendance-thumbnail {
    position: relative;
    display: inline-block;
  }
  .attendance-img {
    position: absolute;
    top: 8px;
    left: 48px !important;
    transform: translate(-50%, -50%);
  }
  .attendance-text {
    padding-left: 76px;
    font-size: 16px;
    margin-top: 16px;
    color: #808285;
    text-transform: uppercase;
  }
}
