<template>
   	<div id="main">
	    <router-view></router-view>
   	</div>
</template>

<script>
    export default {

        mounted() {
            console.log('Component mounted.')
        },
        data(){
        	return {
        		
        	}
        }
    }
</script>
<style>
	.circle-loading{
		position:fixed;
		left:0;
		right:0;
		top:50%;
	
		z-index:9999
	}
</style>
