<template>
  <v-app id="inspire">
    <v-content>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
         	sm="8"
            md="5"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="error"
                
                flat
              >
                <v-toolbar-title>Login form</v-toolbar-title>

              </v-toolbar>
              <v-card-text>
                <v-form ref="loginForm" action="#" method="post" v-model="valid">

                  <v-text-field
                    label="Email"
                    v-model="email"
                    prepend-icon="mdi-account"
                    type="email" :rules="emailRules"
                  ></v-text-field>

                  <v-text-field
                    id="password"
                    label="Password"
                    v-model="password" :rules="passwordRules"
                    prepend-icon="mdi-lock"
                    type="password"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn type="button" v-on:click="formSubmit" color="error" :disabled="!valid">Login</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>

      </v-container>
    </v-content>
        <!--loading-->
        <div v-if="loading" class="circle-loading" align="center">
          <v-progress-circular
            indeterminate
            color="red"
          ></v-progress-circular>  
        </div>      
        <!--loading-->    
  </v-app>
</template>
<script>
  export default{
    data(){
      return {
        loginUrl: 'http://localhost/vuelara/public/api/authenticate',
        loading:false,
        valid:true,
        email: '',
        emailRules:[
            v => !!v || 'E-mail is required',
            v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
        ],
        password: '',
        passwordRules:[
          v=> !!v || 'Password is required',

        ]
      }
    },
    methods:{
      formSubmit: function(){
      //intercept

      this.loading = true;
      axios.interceptors.request.use(function (config) {

          return config;
          
        }, function (error) {
          
          return Promise.reject(error);
        });

      // Add a response interceptor
      axios.interceptors.response.use(function (response) {
          
          return response;
        }, function (error) {
          
          return Promise.reject(error);
        });
//intercept end
      if(this.valid)
      {
        axios.post(this.loginUrl,{
          email: this.email,
          password: this.password
        })
        .then(
          
          res=> {
            this.loading = false;
            if(res.data.status=="ok"){
              localStorage.setItem('email',this.email);
              localStorage.setItem('token',res.data.msg);
              this.$router.push('/dashboard').then().catch(err=>alert(err))
            }
            else
            {
              alert(res.data.msg)
              return;
            }

          }
        )
        .catch(err=> {
          alert(err)
        });      
      }


      }
    }
  }
</script>

<style scoped>
  .circle-loading{
    position:fixed;
    left:0;
    right:0;
    top:50%;
  
    z-index:9999
  }
</style>